img{
    max-width: 100%;
}
.ancho{
    width: 80%;
    margin: auto;
}
#divAgrupador > img{
    width: 49%;
}
#divMaquinaria div{ /* podria hacer esto con bootstrap pero de esta manera es mucho mejor */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
#divMaquinaria > div > div{
    justify-content: center;
    flex-direction: column;
}
#divMaquinaria img{
    margin-top: 20px;
    width: 45%;
    margin-right: 20px;
}